[Desktop Entry]
Version=1.0
Name=SafeMine Core
Comment=SafeMine P2P Cryptocurrency
Comment[de]=Verbinde mit dem SafeMine peer-to-peer Netzwerk
Comment[fr]=SafeMine, monnaie virtuelle cryptographique pair à pair
Comment[tr]=SafeMine, eşten eşe kriptografik sanal para birimi
Exec=safemine-qt %u
Terminal=false
Type=Application
Icon=safemine128
MimeType=x-scheme-handler/safemine;
Categories=Office;Finance;
StartupWMClass=SafeMine-qt
